<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.coderstory.springboot.security.mapper.AuthorityMapper">
    <select id="getAuthoritiesByUserId" resultType="cn.coderstory.springboot.security.model.Authority">
        select *  from Authority  where userId = #{userId}
    </select>
</mapper>